@import url("fonteDeCores.css");
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding-top: 15px;
    height: 6vh;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
    margin: 0 15px;
}

nav ul li a {
    color: var(--branco);
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
}

nav ul li a:hover {
    background-color: var(--fundo-botao);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--azul-escuro);
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
    border-radius: 5px;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu li a {
    padding: 10px;
    color: var(--branco);
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: var(--fundo-botao);
}

.dropdown:hover .dropdown-menu {
    display: block;
}