.container {
    background-color: var(--branco);
    padding: 2em;
    margin: 3em auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 1em;
    color: var(--preto);
}

.form-group {
    width: 100%;
    margin-bottom: 1em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 0.6em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

.btn {
    background-color: var(--azul-escuro);
    color: var(--branco);
    border: none;
    padding: 0.7em;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: var(--fundo-botao);
}

.alert {
    padding: 0.75em;
    margin-bottom: 1em;
    border-radius: 5px;
    font-size: 0.9em;
}

.alert-success {
    background-color: #28a745;
    color: white;
}

.alert-danger {
    background-color: #dc3545;
    color: white;
}

#sugestoes .list-group-item {
    display: block;
    cursor: pointer;
    padding: 0.5em 1em;
    border-bottom: 1px solid #ddd;
}

#sugestoes .list-group-item {
    cursor: pointer;
    padding: 0.5em 1em;
}

#sugestoes .list-group-item:last-child {
    border-bottom: none;
}

#sugestoes .list-group-item:hover {
    background-color: #f1f1f1;
}
