<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Consulta de Locações</title>
    <link rel="stylesheet" href="/css/paginas/consulta/consultaPadrao.css">
    <link rel="stylesheet" href="/css/paginas/header.css">
</head>
<body>

    <header th:insert="~{/paginas/header :: header}"></header>

    <div class="container-consulta mt-5">
        <h2>Locações Cadastradas</h2>

        <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

		<form id="form-filtro" class="form-filtro">
		  <div class="mb-3">
		    <select id="filtro" class="form-select">
		      <option value="" disabled selected>Selecione um filtro</option>
		      <option value="nome">Nome</option>
		      <option value="cpf">CPF</option>
		      <option value="email">Email</option>
			  <option value="filme">Título Filme</option>
		    </select>
		    <input id="valorFiltro" class="form-control mt-2" type="text" placeholder="Digite o valor" disabled />
		    <button id="btnEnviar" class="btn btn-sm btn-primary me-1" type="submit">Filtrar</button>
		  </div>
		</form>

        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Data Locação</th>
                    <th>Data Devolução</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="locacao : ${pendentes}">
                    <td th:text="${locacao.nome}"></td>
                    <td th:text="${locacao.cpf}"></td>
                    <td th:text="${locacao.email}"></td>
                    <td th:text="${#dates.format(locacao.dataLocacao, 'dd/MM/yyyy')}"></td>
                    <td th:text="${#dates.format(locacao.dataDevolucao, 'dd/MM/yyyy')}"></td>
					<td class="acao">
					    <a th:href="@{/locacoes/editar/{id}(id=${locacao.id})}" class="btn btn-sm btn-primary me-1">Editar</a>
						<a th:if="${locacao.dataDevolvido == null}" th:href="@{/locacoes/devolver/{id}(id=${locacao.id})}" class="btn btn-sm btn-primary me-1">Devolver</a>
						<button class="btn btn-sm btn-danger btn-excluir me-1" th:attr="data-id=${locacao.id}">Excluir</button>
					</td>
                </tr>
            </tbody>
        </table>
		
		<h2>Locações Devolvidas</h2>
		<table class="table">
		    <thead>
		        <tr>
		            <th>Nome</th>
		            <th>CPF</th>
		            <th>Email</th>
		            <th>Telefone</th>
		            <th>Data Devolvido</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="locacao : ${devolvidos}">
		            <td th:text="${locacao.nome}"></td>
		            <td th:text="${locacao.cpf}"></td>
		            <td th:text="${locacao.email}"></td>
		            <td th:text="${locacao.telefone}"></td>
		            <td th:text="${#dates.format(locacao.dataDevolvido, 'dd/MM/yyyy')}"></td>
		        </tr>
		    </tbody>
		</table>
		
    </div>

    <script src="/js/consultar/consultarLocacao.js"></script>

</body>
</html>
